$color-dark-primary-2: #00094B;
$color-dark-primary-1: rgb(22, 43, 111);
$color-dark-primary-3: #00157F;
$color-dark-primary-4: #003297;
$color-main-blue-1: #2f5572;

$color-dark-black-1: #0c0c0c;
$color-dark-black-2: #1d1d1d;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #ccc;

$mainOrange: #d59541;
$mainPurple: #e0e6;

$bp-sidebaroff: 43.75em;
