.footer {
    background-image: linear-gradient($color-dark-primary-2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: -10rem;

&__nav {
    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    margin: 2rem 0;
}

    &__link {
        list-style: none;
        transition: all .4s;
        color: $mainOrange;
        font-weight: 700;
        cursor: pointer;
    }
}

.link {
    color: $mainOrange;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
}