.container {
    max-width: 120rem;
    background-color: $color-dark-primary-2;
}

.content {
    display: flex;

        @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: $color-main-blue-1;
    flex: 0 0 18rem;

    @media only screen and (max-width: $bp-medium) {
        flex: none;
    }
}

.hero {
    flex: 1;
}