.side-content {
    display: flex;
    flex-direction: column;
}

.side-nav {
    font-size: 1.5rem;
    list-style: none;
    margin-top: 12rem;

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: .7rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-dark-primary-2;
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(.57,1.16,.49,-0.02) .2s;
                    background-color: .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: $color-dark-primary-2;
    }
    &__link {
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        display: inline-block;
        text-decoration: none;

        display: flex;
        align-items: center;
        cursor: pointer;

        position: relative;
        z-index: 5;
    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

.copy-right {
    margin-top: 210vh;
    font-size: 1.6rem;
    text-align: center;
    padding: 2.5rem;

}